<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.scheduleService.dao.orderMapper">
  <resultMap id="BaseResultMap" type="com.example.scheduleService.model.order">
    <id column="orderid" jdbcType="VARCHAR" property="orderid" />
    <result column="channelid" jdbcType="VARCHAR" property="channelid" />
    <result column="channelname" jdbcType="VARCHAR" property="channelname" />
    <result column="itemid" jdbcType="VARCHAR" property="itemid" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_idcard" jdbcType="VARCHAR" property="user_idcard" />
    <result column="productid" jdbcType="VARCHAR" property="productid" />
    <result column="productname" jdbcType="VARCHAR" property="productname" />
    <result column="applyamount" jdbcType="DECIMAL" property="applyamount" />
    <result column="loanamount" jdbcType="DECIMAL" property="loanamount" />
    <result column="limitamount" jdbcType="DECIMAL" property="limitamount" />
    <result column="year_rate" jdbcType="DECIMAL" property="year_rate" />
    <result column="begdate" jdbcType="BIGINT" property="begdate" />
    <result column="enddate" jdbcType="BIGINT" property="enddate" />
    <result column="repaytype" jdbcType="VARCHAR" property="repaytype" />
    <result column="cycle" jdbcType="INTEGER" property="cycle" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="loantype" jdbcType="VARCHAR" property="loantype" />
    <result column="loanstate" jdbcType="VARCHAR" property="loanstate" />
    <result column="gpsfeeid" jdbcType="INTEGER" property="gpsfeeid" />
    <result column="gpsfee_name" jdbcType="VARCHAR" property="gpsfee_name" />
    <result column="total_prefee" jdbcType="DECIMAL" property="total_prefee" />
    <result column="servicefee" jdbcType="DECIMAL" property="servicefee" />
    <result column="ensurefee" jdbcType="DECIMAL" property="ensurefee" />
    <result column="gpsfee" jdbcType="DECIMAL" property="gpsfee" />
    <result column="unpay_finalfee" jdbcType="DECIMAL" property="unpay_finalfee" />
    <result column="pledge_fee" jdbcType="DECIMAL" property="pledge_fee" />
    <result column="other_prefee" jdbcType="DECIMAL" property="other_prefee" />
    <result column="each_repay" jdbcType="DECIMAL" property="each_repay" />
    <result column="repay_num" jdbcType="INTEGER" property="repay_num" />
    <result column="repay_unit" jdbcType="VARCHAR" property="repay_unit" />
    <result column="periodflag" jdbcType="VARCHAR" property="periodflag" />
    <result column="each_baseamount" jdbcType="DECIMAL" property="each_baseamount" />
    <result column="first_repay_date" jdbcType="BIGINT" property="first_repay_date" />
    <result column="last_repay_date" jdbcType="BIGINT" property="last_repay_date" />
    <result column="node" jdbcType="INTEGER" property="node" />
    <result column="lastcheckuser" jdbcType="VARCHAR" property="lastcheckuser" />
    <result column="bondsmanfalg" jdbcType="VARCHAR" property="bondsmanfalg" />
    <result column="asset" jdbcType="VARCHAR" property="asset" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="createdate" jdbcType="BIGINT" property="createdate" />
    <result column="lastmodifydate" jdbcType="BIGINT" property="lastmodifydate" />
    <result column="createuser" jdbcType="VARCHAR" property="createuser" />
    <result column="lastmodifyuser" jdbcType="VARCHAR" property="lastmodifyuser" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
  </resultMap>
  <sql id="Base_Column_List">
    orderid, channelid, channelname, itemid, itemname, userid, username, user_idcard, 
    productid, productname, applyamount, loanamount, limitamount, year_rate, begdate, 
    enddate, repaytype, cycle, purpose, loantype, loanstate, gpsfeeid, gpsfee_name, total_prefee, 
    servicefee, ensurefee, gpsfee, unpay_finalfee, pledge_fee, other_prefee, each_repay, 
    repay_num, repay_unit, periodflag, each_baseamount, first_repay_date, last_repay_date, 
    node, lastcheckuser, bondsmanfalg, asset, state, createdate, lastmodifydate, createuser, 
    lastmodifyuser, reserve
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loan_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from loan_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.scheduleService.model.order">
    insert into loan_order (orderid, channelid, channelname, 
      itemid, itemname, userid, 
      username, user_idcard, productid, 
      productname, applyamount, loanamount, 
      limitamount, year_rate, begdate, 
      enddate, repaytype, cycle, 
      purpose, loantype, loanstate, 
      gpsfeeid, gpsfee_name, total_prefee, 
      servicefee, ensurefee, gpsfee, 
      unpay_finalfee, pledge_fee, other_prefee, 
      each_repay, repay_num, repay_unit, 
      periodflag, each_baseamount, first_repay_date, 
      last_repay_date, node, lastcheckuser, 
      bondsmanfalg, asset, state, 
      createdate, lastmodifydate, createuser, 
      lastmodifyuser, reserve)
    values (#{orderid,jdbcType=VARCHAR}, #{channelid,jdbcType=VARCHAR}, #{channelname,jdbcType=VARCHAR}, 
      #{itemid,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{user_idcard,jdbcType=VARCHAR}, #{productid,jdbcType=VARCHAR}, 
      #{productname,jdbcType=VARCHAR}, #{applyamount,jdbcType=DECIMAL}, #{loanamount,jdbcType=DECIMAL}, 
      #{limitamount,jdbcType=DECIMAL}, #{year_rate,jdbcType=DECIMAL}, #{begdate,jdbcType=BIGINT}, 
      #{enddate,jdbcType=BIGINT}, #{repaytype,jdbcType=VARCHAR}, #{cycle,jdbcType=INTEGER}, 
      #{purpose,jdbcType=VARCHAR}, #{loantype,jdbcType=VARCHAR}, #{loanstate,jdbcType=VARCHAR}, 
      #{gpsfeeid,jdbcType=INTEGER}, #{gpsfee_name,jdbcType=VARCHAR}, #{total_prefee,jdbcType=DECIMAL}, 
      #{servicefee,jdbcType=DECIMAL}, #{ensurefee,jdbcType=DECIMAL}, #{gpsfee,jdbcType=DECIMAL}, 
      #{unpay_finalfee,jdbcType=DECIMAL}, #{pledge_fee,jdbcType=DECIMAL}, #{other_prefee,jdbcType=DECIMAL}, 
      #{each_repay,jdbcType=DECIMAL}, #{repay_num,jdbcType=INTEGER}, #{repay_unit,jdbcType=VARCHAR}, 
      #{periodflag,jdbcType=VARCHAR}, #{each_baseamount,jdbcType=DECIMAL}, #{first_repay_date,jdbcType=BIGINT}, 
      #{last_repay_date,jdbcType=BIGINT}, #{node,jdbcType=INTEGER}, #{lastcheckuser,jdbcType=VARCHAR}, 
      #{bondsmanfalg,jdbcType=VARCHAR}, #{asset,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=BIGINT}, #{lastmodifydate,jdbcType=BIGINT}, #{createuser,jdbcType=VARCHAR}, 
      #{lastmodifyuser,jdbcType=VARCHAR}, #{reserve,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.scheduleService.model.order">
    insert into loan_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderid,
      </if>
      <if test="channelid != null">
        channelid,
      </if>
      <if test="channelname != null">
        channelname,
      </if>
      <if test="itemid != null">
        itemid,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="user_idcard != null">
        user_idcard,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="productname != null">
        productname,
      </if>
      <if test="applyamount != null">
        applyamount,
      </if>
      <if test="loanamount != null">
        loanamount,
      </if>
      <if test="limitamount != null">
        limitamount,
      </if>
      <if test="year_rate != null">
        year_rate,
      </if>
      <if test="begdate != null">
        begdate,
      </if>
      <if test="enddate != null">
        enddate,
      </if>
      <if test="repaytype != null">
        repaytype,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="purpose != null">
        purpose,
      </if>
      <if test="loantype != null">
        loantype,
      </if>
      <if test="loanstate != null">
        loanstate,
      </if>
      <if test="gpsfeeid != null">
        gpsfeeid,
      </if>
      <if test="gpsfee_name != null">
        gpsfee_name,
      </if>
      <if test="total_prefee != null">
        total_prefee,
      </if>
      <if test="servicefee != null">
        servicefee,
      </if>
      <if test="ensurefee != null">
        ensurefee,
      </if>
      <if test="gpsfee != null">
        gpsfee,
      </if>
      <if test="unpay_finalfee != null">
        unpay_finalfee,
      </if>
      <if test="pledge_fee != null">
        pledge_fee,
      </if>
      <if test="other_prefee != null">
        other_prefee,
      </if>
      <if test="each_repay != null">
        each_repay,
      </if>
      <if test="repay_num != null">
        repay_num,
      </if>
      <if test="repay_unit != null">
        repay_unit,
      </if>
      <if test="periodflag != null">
        periodflag,
      </if>
      <if test="each_baseamount != null">
        each_baseamount,
      </if>
      <if test="first_repay_date != null">
        first_repay_date,
      </if>
      <if test="last_repay_date != null">
        last_repay_date,
      </if>
      <if test="node != null">
        node,
      </if>
      <if test="lastcheckuser != null">
        lastcheckuser,
      </if>
      <if test="bondsmanfalg != null">
        bondsmanfalg,
      </if>
      <if test="asset != null">
        asset,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createdate != null">
        createdate,
      </if>
      <if test="lastmodifydate != null">
        lastmodifydate,
      </if>
      <if test="createuser != null">
        createuser,
      </if>
      <if test="lastmodifyuser != null">
        lastmodifyuser,
      </if>
      <if test="reserve != null">
        reserve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="channelid != null">
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null">
        #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="user_idcard != null">
        #{user_idcard,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="applyamount != null">
        #{applyamount,jdbcType=DECIMAL},
      </if>
      <if test="loanamount != null">
        #{loanamount,jdbcType=DECIMAL},
      </if>
      <if test="limitamount != null">
        #{limitamount,jdbcType=DECIMAL},
      </if>
      <if test="year_rate != null">
        #{year_rate,jdbcType=DECIMAL},
      </if>
      <if test="begdate != null">
        #{begdate,jdbcType=BIGINT},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=BIGINT},
      </if>
      <if test="repaytype != null">
        #{repaytype,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="loantype != null">
        #{loantype,jdbcType=VARCHAR},
      </if>
      <if test="loanstate != null">
        #{loanstate,jdbcType=VARCHAR},
      </if>
      <if test="gpsfeeid != null">
        #{gpsfeeid,jdbcType=INTEGER},
      </if>
      <if test="gpsfee_name != null">
        #{gpsfee_name,jdbcType=VARCHAR},
      </if>
      <if test="total_prefee != null">
        #{total_prefee,jdbcType=DECIMAL},
      </if>
      <if test="servicefee != null">
        #{servicefee,jdbcType=DECIMAL},
      </if>
      <if test="ensurefee != null">
        #{ensurefee,jdbcType=DECIMAL},
      </if>
      <if test="gpsfee != null">
        #{gpsfee,jdbcType=DECIMAL},
      </if>
      <if test="unpay_finalfee != null">
        #{unpay_finalfee,jdbcType=DECIMAL},
      </if>
      <if test="pledge_fee != null">
        #{pledge_fee,jdbcType=DECIMAL},
      </if>
      <if test="other_prefee != null">
        #{other_prefee,jdbcType=DECIMAL},
      </if>
      <if test="each_repay != null">
        #{each_repay,jdbcType=DECIMAL},
      </if>
      <if test="repay_num != null">
        #{repay_num,jdbcType=INTEGER},
      </if>
      <if test="repay_unit != null">
        #{repay_unit,jdbcType=VARCHAR},
      </if>
      <if test="periodflag != null">
        #{periodflag,jdbcType=VARCHAR},
      </if>
      <if test="each_baseamount != null">
        #{each_baseamount,jdbcType=DECIMAL},
      </if>
      <if test="first_repay_date != null">
        #{first_repay_date,jdbcType=BIGINT},
      </if>
      <if test="last_repay_date != null">
        #{last_repay_date,jdbcType=BIGINT},
      </if>
      <if test="node != null">
        #{node,jdbcType=INTEGER},
      </if>
      <if test="lastcheckuser != null">
        #{lastcheckuser,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanfalg != null">
        #{bondsmanfalg,jdbcType=VARCHAR},
      </if>
      <if test="asset != null">
        #{asset,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=BIGINT},
      </if>
      <if test="lastmodifydate != null">
        #{lastmodifydate,jdbcType=BIGINT},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifyuser != null">
        #{lastmodifyuser,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null">
        #{reserve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.scheduleService.model.order">
    update loan_order
    <set>
      <if test="channelid != null">
        channelid = #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null">
        channelname = #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="itemid != null">
        itemid = #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="user_idcard != null">
        user_idcard = #{user_idcard,jdbcType=VARCHAR},
      </if>
      <if test="productid != null">
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="productname != null">
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="applyamount != null">
        applyamount = #{applyamount,jdbcType=DECIMAL},
      </if>
      <if test="loanamount != null">
        loanamount = #{loanamount,jdbcType=DECIMAL},
      </if>
      <if test="limitamount != null">
        limitamount = #{limitamount,jdbcType=DECIMAL},
      </if>
      <if test="year_rate != null">
        year_rate = #{year_rate,jdbcType=DECIMAL},
      </if>
      <if test="begdate != null">
        begdate = #{begdate,jdbcType=BIGINT},
      </if>
      <if test="enddate != null">
        enddate = #{enddate,jdbcType=BIGINT},
      </if>
      <if test="repaytype != null">
        repaytype = #{repaytype,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="loantype != null">
        loantype = #{loantype,jdbcType=VARCHAR},
      </if>
      <if test="loanstate != null">
        loanstate = #{loanstate,jdbcType=VARCHAR},
      </if>
      <if test="gpsfeeid != null">
        gpsfeeid = #{gpsfeeid,jdbcType=INTEGER},
      </if>
      <if test="gpsfee_name != null">
        gpsfee_name = #{gpsfee_name,jdbcType=VARCHAR},
      </if>
      <if test="total_prefee != null">
        total_prefee = #{total_prefee,jdbcType=DECIMAL},
      </if>
      <if test="servicefee != null">
        servicefee = #{servicefee,jdbcType=DECIMAL},
      </if>
      <if test="ensurefee != null">
        ensurefee = #{ensurefee,jdbcType=DECIMAL},
      </if>
      <if test="gpsfee != null">
        gpsfee = #{gpsfee,jdbcType=DECIMAL},
      </if>
      <if test="unpay_finalfee != null">
        unpay_finalfee = #{unpay_finalfee,jdbcType=DECIMAL},
      </if>
      <if test="pledge_fee != null">
        pledge_fee = #{pledge_fee,jdbcType=DECIMAL},
      </if>
      <if test="other_prefee != null">
        other_prefee = #{other_prefee,jdbcType=DECIMAL},
      </if>
      <if test="each_repay != null">
        each_repay = #{each_repay,jdbcType=DECIMAL},
      </if>
      <if test="repay_num != null">
        repay_num = #{repay_num,jdbcType=INTEGER},
      </if>
      <if test="repay_unit != null">
        repay_unit = #{repay_unit,jdbcType=VARCHAR},
      </if>
      <if test="periodflag != null">
        periodflag = #{periodflag,jdbcType=VARCHAR},
      </if>
      <if test="each_baseamount != null">
        each_baseamount = #{each_baseamount,jdbcType=DECIMAL},
      </if>
      <if test="first_repay_date != null">
        first_repay_date = #{first_repay_date,jdbcType=BIGINT},
      </if>
      <if test="last_repay_date != null">
        last_repay_date = #{last_repay_date,jdbcType=BIGINT},
      </if>
      <if test="node != null">
        node = #{node,jdbcType=INTEGER},
      </if>
      <if test="lastcheckuser != null">
        lastcheckuser = #{lastcheckuser,jdbcType=VARCHAR},
      </if>
      <if test="bondsmanfalg != null">
        bondsmanfalg = #{bondsmanfalg,jdbcType=VARCHAR},
      </if>
      <if test="asset != null">
        asset = #{asset,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createdate = #{createdate,jdbcType=BIGINT},
      </if>
      <if test="lastmodifydate != null">
        lastmodifydate = #{lastmodifydate,jdbcType=BIGINT},
      </if>
      <if test="createuser != null">
        createuser = #{createuser,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifyuser != null">
        lastmodifyuser = #{lastmodifyuser,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null">
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.scheduleService.model.order">
    update loan_order
    set channelid = #{channelid,jdbcType=VARCHAR},
      channelname = #{channelname,jdbcType=VARCHAR},
      itemid = #{itemid,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      user_idcard = #{user_idcard,jdbcType=VARCHAR},
      productid = #{productid,jdbcType=VARCHAR},
      productname = #{productname,jdbcType=VARCHAR},
      applyamount = #{applyamount,jdbcType=DECIMAL},
      loanamount = #{loanamount,jdbcType=DECIMAL},
      limitamount = #{limitamount,jdbcType=DECIMAL},
      year_rate = #{year_rate,jdbcType=DECIMAL},
      begdate = #{begdate,jdbcType=BIGINT},
      enddate = #{enddate,jdbcType=BIGINT},
      repaytype = #{repaytype,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=INTEGER},
      purpose = #{purpose,jdbcType=VARCHAR},
      loantype = #{loantype,jdbcType=VARCHAR},
      loanstate = #{loanstate,jdbcType=VARCHAR},
      gpsfeeid = #{gpsfeeid,jdbcType=INTEGER},
      gpsfee_name = #{gpsfee_name,jdbcType=VARCHAR},
      total_prefee = #{total_prefee,jdbcType=DECIMAL},
      servicefee = #{servicefee,jdbcType=DECIMAL},
      ensurefee = #{ensurefee,jdbcType=DECIMAL},
      gpsfee = #{gpsfee,jdbcType=DECIMAL},
      unpay_finalfee = #{unpay_finalfee,jdbcType=DECIMAL},
      pledge_fee = #{pledge_fee,jdbcType=DECIMAL},
      other_prefee = #{other_prefee,jdbcType=DECIMAL},
      each_repay = #{each_repay,jdbcType=DECIMAL},
      repay_num = #{repay_num,jdbcType=INTEGER},
      repay_unit = #{repay_unit,jdbcType=VARCHAR},
      periodflag = #{periodflag,jdbcType=VARCHAR},
      each_baseamount = #{each_baseamount,jdbcType=DECIMAL},
      first_repay_date = #{first_repay_date,jdbcType=BIGINT},
      last_repay_date = #{last_repay_date,jdbcType=BIGINT},
      node = #{node,jdbcType=INTEGER},
      lastcheckuser = #{lastcheckuser,jdbcType=VARCHAR},
      bondsmanfalg = #{bondsmanfalg,jdbcType=VARCHAR},
      asset = #{asset,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=BIGINT},
      lastmodifydate = #{lastmodifydate,jdbcType=BIGINT},
      createuser = #{createuser,jdbcType=VARCHAR},
      lastmodifyuser = #{lastmodifyuser,jdbcType=VARCHAR},
      reserve = #{reserve,jdbcType=VARCHAR}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>